@import url(https://fonts.googleapis.com/css?family=Varela+Round);
body, html, .owl-carousel {
	height: 100%;
	font-family: "Varela Round";
}

a {
	text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
	font-weight: bold;
	color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgb(245, 106, 51);
	-webkit-transition: all 250ms;
	-moz-transition: all, 250ms;
	-ms-transition: all, 250ms;
	-o-transition: all, 250ms;
	transition: all 250ms;
}

/* color: rgba(255,166,63,0.8); */

.navbar-light .navbar-nav>.nav-link:hover, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(245, 106, 51);
	-webkit-transition: all 250ms;
	-moz-transition: all, 250ms;
	-ms-transition: all, 250ms;
	-o-transition: all, 250ms;
	transition: all 250ms;
}

.logo-img {
	width: 40px;
	height: 40px;
}

.main-div {
	text-align: center;
}

.talk {
	text-align: left;
}

header {
	position: sticky;
	z-index: 1000;
}

.google-map iframe {
	width: 100%;
	height: 400px;
	background-color: grey;
	border: 0;
}

.footer {
	width: 100%;
	height: 5em;
	background-color: black;
	color: grey;
	padding: 1em;
}

.footer .item {
	padding: 1em;
}

.footer a {
	color: grey;
}

.fa-facebook {
	font-size: 25px;
	float: right;
	margin: -5px;
}

.fa-facebook:hover {
	color: #3b5998;
	-webkit-transition: all 250ms;
	-moz-transition: all, 250ms;
	-ms-transition: all, 250ms;
	-o-transition: all, 250ms;
	transition: all 250ms;
}

.asterisk {
	color: red;
}

.icons-cards {
	margin-top: 3em;
}

.divider-header {
	height: 2px;
	width: 150px;
	background: royalblue;
	margin: auto;
}

.icons-cards i {
	color: #004879;
}

.navbar-light {
	-webkit-transition: all 250ms;
	-moz-transition: all, 250ms;
	-ms-transition: all, 250ms;
	-o-transition: all, 250ms;
	transition: all 250ms;
}

@media only screen and (max-width: 575px) {
	.fa-facebook {
		float: none;
	}
	.footer {
		height: 9em;
	}
}

/* ============= slider =============== */

.slider {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 98.75vw;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	/* transition: opacity 0.4s ease-in-out; */
	transition: all 0.7s ease-in-out;
}

.slide.current {
	opacity: 1;
}

.slide .content {
	position: absolute;
	/* bottom: 70px; */
	/* left: -600px; */
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	color: #333;
	padding: 35px;
}

.slide.current .content {
	opacity: 1;
	/* transform: translateX(600px); */
	transition: all 0.2s ease-in-out 0.3s;
}

.caption {
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption .title {
	font-size: 6em;
	font-weight: bold;
}

.caption .subtitle {
	font-size: 3em;
	font-weight: bold;
}

.caption-other {
	font-size: 2em;
	font-weight: bold;
}

@media (max-width: 575px) {
	.slide .content {
		/* bottom: -300px; */
		left: 0;
		width: 100%;
		height: 100%;
	}
	/* .slide.current .content {
		transform: translateY(-300px);
	} */
	.caption .title {
		font-size: 4em;
		font-weight: bold;
	}
	.caption .subtitle {
		font-size: 2em;
		font-weight: bold;
	}
	.caption-other {
		font-size: 25px;
		font-weight: bold;
	}
}

.whatsapp-img {
	width: 74px;
	height: 50px;
}

/* Backgorund Images */

.slide:first-child {
	background: url('../assets/maintence1.jpg') no-repeat center top/cover;
}

.slide:nth-child(2) {
	background: url('../assets/maintence2.jpg') no-repeat center top/cover;
}

.slide:nth-child(3) {
	background: url('https://source.unsplash.com/wzVQp_NRIHg/1600x900') no-repeat center top/cover;
}

/* .slide:nth-child(6) {
	background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat center center/cover;
} */

/* notificação */

#ui_notifIt.success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

#ui_notifIt.error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

/* loader */

.loader-div{
	/* position: absolute; */
	height: 420px;
	width: 100%;
	display: none;
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
	margin-left: 40%;
	margin-top: 20%;
	position: absolute;
}

/* Safari */

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}