.logo-img{
    width: 40px;
    height: 40px;
}
.img-fluid{
    height: 500px;
    width: 2000px;
}
.main-div{
    text-align: center;
}
#mc_embed_signup{
    text-align: left;
}
header{
    position: sticky;
    z-index: 1000;
}
.google-map iframe {
    width: 100%;
    height: 400px;
    background-color: grey;    
    border:0; 
}
.footer{
    height: 300px;
    background-color: black;
}
.asterisk{
    color: red;
}
.icons-cards{
    margin-top: 3em;
}